<p id="notice" class="notice"><%= notice %></p>

<h2><%= @page.title %></h2>

<div class="content_body"><%= RedCloth.new(@page.body).to_html.html_safe %></div>

<% if can? :edit, @page %>
  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'View Pages', pages_path %>
<% end %>
