<p id="notice"><%= notice %></p>

<h2><%= @page.title %></h2>

<%= @page.body %>

<% if can? :edit, @page %>
  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'View Pages', pages_path %>
<% end %>
