<h2>News</h2>
<% if can? :new, Post %>
    <%= link_to "New post", new_post_path %>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <% if can? :edit, post %>
        <%= link_to "|Edit|", edit_post_path(post) %>
    <% end %>
    <% if can? :delete, post %>
        <%= link_to '|Delete|', post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <p><%= RedCloth.new(post.body).to_html %></p>
    <%= link_to 'Show', post %>
  </div>
<% end %>
