<!DOCTYPE html>
<html>
<head>
  <title>Vanessa Mayfield - Online Portfolio</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'grid' %>
  <%= stylesheet_link_tag 'global' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container clearfix">
    <div class="header grid_12">
      <div style="float:left;width:84%;">
        <h1>Vanessa Mayfield</h1>
        <p>actress dancer singer</p>
      </div>
      <%= image_tag 'vanessamayfield-header.jpg', :style => "float:right;" %>
    </div>
    <div class="flash">
      <%= flash[:error] %>
    </div>
    <div class="navigation grid_12">
      <ul class="menu grid_12">
        <li class="grid_4"><%= link_to "news", posts_path %></li>
        <% @pages.each do |page| %>
          <li class="grid_4"><%= link_to page.title, page %></li>
        <% end %>
        <% if current_user %>
          <li class="grid_4"><%= link_to "logout", logout_path %></li>
          <% if can? :create, Page %>
            <li class="grid_4"><%= link_to "page admin", pages_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="content_container grid_12">
      <div class="main_content grid_8" >
        <%= yield %>
      </div>
      <div class="side_panel grid_4" >
        TWITTAR STUFF AND THAT GOES HERE YEAH?
      </div>
    </div>
  </div>
  
</body>
</html>
